**/*.cmi
**/*.cmo
hw1/hw1
hw2/hw2
hw3/hw3
hw4/hw4
hw5/hw5
hw6/hw6
hw7/hw7
hw8/hw8
hw9/hw9

hw1/hw1_test
hw2/hw2_test
hw3/hw3_test
hw4/hw4_test
hw5/hw5_test
hw6/hw6_test
hw7/hw7_test
hw8/hw8_test
hw9/hw9_test
